<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959793595817-ruodl3q7718gplgp52610juoco4ou4l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959793595817-ruodl3q7718gplgp52610juoco4ou4l0</string>
	<key>API_KEY</key>
	<string>AIzaSyAlWrj9DzxFw92ol2y4PZDKZlLX4798wfs</string>
	<key>GCM_SENDER_ID</key>
	<string>959793595817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeacademy.socialnetwork.Check-ins</string>
	<key>PROJECT_ID</key>
	<string>check-insapp</string>
	<key>STORAGE_BUCKET</key>
	<string>check-insapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959793595817:ios:b3909b2717a268b24930b8</string>
</dict>
</plist>